@page
@model QuizApp.Pages.CreateQuestionModel
@{
    ViewData["Title"] = "Create New Question";
}

<h3>@ViewData["Title"]</h3>
<hr />
<div class="row">
    <div class="col-md-6 offset-3">
        <form method="post">
            <div class="mb-3">
                <label for="quizid" class="form-label">QuizId</label>
                <input name="Question.QuizId" type="number" class="form-control" id="quizid" placeholder="Quiz Id" />
                <span asp-validation-for="@Model.Question.QuizId"></span>
            </div>
            <div class="mb-3">
                <label for="content" class="form-label">Content</label>
                <input name="Question.Content" type="text" class="form-control" id="content" placeholder="Content" />
                <span asp-validation-for="@Model.Question.Content"></span>
            </div>
            <div class="mb-3">
                <label for="answercontenta" class="form-label">Answer Content A</label>
                <input name="Answers[0].Content" type="text" class="form-control" id="answercontenta" rows="3"></input>
                <span asp-validation-for="Answers[0].Content"></span>
            </div>
            <div class="mb-3">
                <label for="answercontentb" class="form-label">Answer Content B</label>
                <input name="Answers[1].Content" type="text" class="form-control" id="answercontentb" rows="3"></input>
                <span asp-validation-for="Answers[1].Content"></span>
            </div>
            <div class="mb-3">
                <label for="answercontentc" class="form-label">Answer Content C</label>
                <input name="Answers[2].Content" type="text" class="form-control" id="answercontentc" rows="3"></input>
                <span asp-validation-for="Answers[2].Content"></span>
            </div>
            <div class="mb-3">
                <label for="answercontentd" class="form-label">Answer Content D</label>
                <input name="Answers[3].Content" type="text" class="form-control" id="answercontentd" rows="3"></input>
                <span asp-validation-for="Answers[3].Content"></span>
            </div>
            <select name="CorrectAnswer">
                <option value="">Correct Answer</option>
                <option value=0>A</option>
                <option value=1>B</option>
                <option value=2>C</option>
                <option value=3>D</option>
            </select>
            <button type="submit" class="btn btn-success">Create Question</button>
        </form>
    </div>
</div>