@page
@model QuizApp.Pages.CreateQuestionModel
@{
    ViewData["Title"] = "Create New Question";
}

<h3>@ViewData["Title"]</h3>
<hr />
<div class="row">
    <div class="col-md-6 offset-3">
        <form method="post">
            <div class="mb-3">
                <label for="quizid" class="form-label">QuizId</label>
                <input name="Question.QuizId" type="number" class="form-control" id="quizid" placeholder="Quiz Id" />
                <span asp-validation-for="@Model.Question.QuizId"></span>
            </div>
            <div class="mb-3">
                <label for="content" class="form-label">Content</label>
                <input name="Question.Content" type="text" class="form-control" id="content" placeholder="Content" />
                <span asp-validation-for="@Model.Question.Content"></span>
            </div>
            <div class="mb-3">
                <label for="correctanswerid" class="form-label">Correct Answer Id</label>
                <input name="Question.CorrectAnswerId" type="number" class="form-control" id="correctanswerid" rows="3"></input>
                <span asp-validation-for="@Model.Question.CorrectAnswerId"></span>
            </div>

            <button type="submit" class="btn btn-success">Create Question</button>
        </form>

    </div>
</div>