@page
@model QuizApp.Pages.ScoreModel
@{
    //Get value from TakeQuiz Page
    var resultString = Request.Query["result"].ToString();
    List<int> resultList = resultString.Split(',').Select(int.Parse).ToList();

    ViewData["Title"] = "Score";
}
<h3>@ViewData["Title"]</h3>
<hr />
<h3>Your socre is: @resultList[0] / @resultList[1]</h3>
